 # DataFrame 在 contact 之后，一定要记得用 reset_index 去处理 index , 不然容易出现莫名的逻辑错误

或者在 concat 的时候，指定 ignore_index = True

参考资料：https://blog.csdn.net/lujiandong1/article/details/52929090

In [4]:
import pandas as pd

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']})

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']})

frames = [df1, df2, df3]
result = pd.concat(frames)
result

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1   C1   D1
2   A2   B2   C2   D2
3   A3   B3   C3   D3
0   A4   B4   C4   D4
1   A5   B5   C5   D5
2   A6   B6   C6   D6
3   A7   B7   C7   D7
0   A8   B8   C8   D8
1   A9   B9   C9   D9
2  A10  B10  C10  D10
3  A11  B11  C11  D11

In [5]:
df4 = pd.DataFrame({'val': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], 'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10', 'A11'],
                    })

In [6]:
df4

      A  val
0    A0    0
1    A1    1
2    A2    2
3    A3    3
4    A4    4
5    A5    5
6    A6    6
7    A7    7
8    A8    8
9    A9    9
10  A10   10
11  A11   11

In [7]:

result['val'] = df4['val']

In [8]:
result

     A    B    C    D  val
0   A0   B0   C0   D0    0
1   A1   B1   C1   D1    1
2   A2   B2   C2   D2    2
3   A3   B3   C3   D3    3
0   A4   B4   C4   D4    0
1   A5   B5   C5   D5    1
2   A6   B6   C6   D6    2
3   A7   B7   C7   D7    3
0   A8   B8   C8   D8    0
1   A9   B9   C9   D9    1
2  A10  B10  C10  D10    2
3  A11  B11  C11  D11    3