In [3]:
df = pd.DataFrame(np.random.rand(10,5),columns=list('ABCDE'))
df

          A         B         C         D         E
0  0.997043  0.823507  0.553260  0.075447  0.126400
1  0.558628  0.116144  0.048894  0.968825  0.310543
2  0.440404  0.067424  0.398326  0.825607  0.614426
3  0.757881  0.161373  0.422406  0.274867  0.172023
4  0.963389  0.477802  0.008558  0.248631  0.636502
5  0.946597  0.119000  0.740438  0.033115  0.408626
6  0.193826  0.694473  0.767379  0.441574  0.283745
7  0.062850  0.347656  0.993233  0.512158  0.917486
8  0.488286  0.457339  0.708659  0.466970  0.679316
9  0.023129  0.225148  0.644057  0.324422  0.649956

In [4]:
df.set_index('B')

                 A         C         D         E
B
0.823507  0.997043  0.553260  0.075447  0.126400
0.116144  0.558628  0.048894  0.968825  0.310543
0.067424  0.440404  0.398326  0.825607  0.614426
0.161373  0.757881  0.422406  0.274867  0.172023
0.477802  0.963389  0.008558  0.248631  0.636502
0.119000  0.946597  0.740438  0.033115  0.408626
0.694473  0.193826  0.767379  0.441574  0.283745
0.347656  0.062850  0.993233  0.512158  0.917486
0.457339  0.488286  0.708659  0.466970  0.679316
0.225148  0.023129  0.644057  0.324422  0.649956